<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<title>PROTECO</title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link rel="stylesheet" href="css/materialize.css"/>
		<link rel="stylesheet" href="css/mystyle.css"/>
	</head>
<body ng-controller="movieCtrl as movie">
	<header>
		<div class="nav-bar fixed">
			<nav class="black" role="navigation">
				<div class="nav-wrapper container">
					<a href="index.html" class="brand-logo"><span class="lime-text text-accent-2">PROTECO</span></a>
					<ul class="right hide-on-med-and-down">
						<li class="active"><a class="ptc-text" href="">Cursos</a></li>
						<li class=""><a class="ptc-text" href="">Convocatoria</a></li>
						<li><a class='dropdown-button btn' data-activates='dropdown1'><i class="material-icons right">arrow_drop_down</i>Entrar</a>
 					 	<ul id='dropdown1' class='dropdown-content'>
 					 	<li><a href="http://facebook.com">Iniciar sesion</a></li>
 					 	</ul>
 					 	</li>
				</div>
			</nav>
		</div>
	</header>
	<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<span class="titulo">
					Cursos intersemestrales
				</span>
			</div>
			<div class="container col s12 m12 l8 offset-l2 center">
				<span class="titulo">Buscar</span>
				<div class="input-field">
					<input  id="BuscarCurso" placeholder="Nombre del curso" ng-model="search" data-id="BuscarCurso" type="text">
					<p>{{search}}</p>
				</div>
			</div>
		</div>
		<div class="grid row" style="position: relative; height: 564.203px;">
			<div class="grid-sizer col s12 m3 l3"></div>
			<div class="col s12 m3 l3" ng-repeat="n in movie.Python | filter:search" style="position: absolute; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/python.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">{{n.Python}}</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
				</div>
			</div>
			<div class="grid-item android col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/android.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Android</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item arduino col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/arduino.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Arduino</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item bases col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/based.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Bases de datos</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item c# col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/csharp.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">C#</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item c col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/c.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Python Semestral</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item computoforense col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/computoforense.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Computo Forense</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item c++ col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/c++.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">C++</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item diseñoweb col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/diseñoweb.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Diseño Web</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item inteligencia-artificial col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/ia.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Inteligencia Artificial</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item introduccion col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/intro.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Introduccion a la programacion</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item iOS col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/IOS.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">iOS</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item java col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/java.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Java</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item laravel col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/laravel.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Laravel</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item linux col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/linux.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Linux</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item mantenimiento col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/mantenimiento.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Mantenimiento de computadoras</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item matlab col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/matlab.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Matlab</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item php col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/php.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">PHP</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item raspberry col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/raspberry.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Raspberry</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
			<div class="grid-item redes col s12 m3 l3" style="position: relative; left: 0%; top: 0px;">
				<div class="card large" style="height: 564px;">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="img/redes.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator name">Redes</span>
						<p>
							Fecha: 22/04/2017 al 20/05/2017<br>
							Horario: 10:00:00 a 14:00:00
						</p>
					</div>
					<div class="card-action">
						<a href="http://proteco.mx/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicia sesión o regístrate para poder inscribirte" data-tooltip-id="0989799c-6eae-6aa0-88af-d47bfaec6048">Iniciar sesión</a>
						<a target="_blank" href="http://proteco.mx/temarios/pythonsemestral.pdf">Temario</a>
						<a style="cursor:pointer" class="activator">Detalles</a>
					</div>
					<div class="card-reveal">
	
					</div>
				</div>
			</div>
		</div>
	<div class="container">
		<div>
			
		</div>
	</div>
	</main>
	<footer class="page-footer grey darken-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">¿Quiénes somos?</h5>
				<p class="grey-text text-lighten-4">El Programa de Tecnología en Cómputo busca establecer un proceso permanente, con herramientas de cómputo, para la formación de personal docente y de investigación, en las diferentes áreas de las Divisiones de la Facultad de Ingeniería, mediante la participación de los integrantes en cursos especializados y en el desarrollo de proyectos.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2014 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
</body>
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAeqnwWDErugKjHwRzgT2SvrWRnqbqsDZs",
    authDomain: "proyectoweb-b78be.firebaseapp.com",
    databaseURL: "https://proyectoweb-b78be.firebaseio.com",
    projectId: "proyectoweb-b78be",
    storageBucket: "proyectoweb-b78be.appspot.com",
    messagingSenderId: "408946736605"
  };
  firebase.initializeApp(config);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/materialize.min.js"></script>
</html>